---
layout: page
title: Download
sources:
  - name: Linux Desktop
    description: >
      KDE Connect is [available](appstream://org.kde.kdeconnect.kcm.desktop) in all major distributions and works in all desktop environments.
      GNOME users might prefer using [GSConnect](https://extensions.gnome.org/extension/1319/gsconnect/),
      a GNOME extension that implements the KDE Connect protocol.
    image:
      png: /assets/img/tux.png
    learn-more:
      text: Instructions for Linux
      link: https://userbase.kde.org/KDEConnect#Installation
  - name: Android
    description: >
      KDE Connect for Android is available on <a href="https://play.google.com/store/apps/details?id=org.kde.kdeconnect_tp">
      Google Play</a>, <a href="https://appgallery.cloud.huawei.com/ag/n/app/C104724723">
      Huawei AppGallery</a> and <a href="https://f-droid.org/packages/org.kde.kdeconnect_tp/">F-Droid</a>.
    image:
      png: assets/img/android.png
  - name: Plasma Mobile
    description: >
      A mobile friendly interface for mobile
      Linux platforms such as Plasma Mobile is also available.
    image:
      png: assets/img/plasma.png
      webp: assets/img/plasma.webp
  - name: SailfishOS
    description: >
      KDE Connect is available for SailfishOS in [openrepos.net](https://openrepos.net/content/r1tschy/sailfish-connect).
    image:
      webp: assets/img/SailfishOS_logo.webp
      png: assets/img/SailfishOS_logo.png
    image-dark:
      webp: assets/img/SailfishOS_logo-dark.webp
      png: assets/img/SailfishOS_logo-dark.png
  - name: Windows
    description: >
      You can now get KDE Connect from [The Microsoft Store](https://www.microsoft.com/store/apps/9N93MRMSXBF0).<br/>
      [Offline installers](https://download.kde.org/stable/release-service/24.02.0/windows/kdeconnect-kde-release_24.02-3692-windows-cl-msvc2022-x86_64.exe) are also available.
    image:
      webp: assets/img/windows.webp
      png: assets/img/windows.png
    image-dark:
      webp: assets/img/windows-dark.webp
      png: assets/img/windows-dark.png
  - name: macOS
    description: >
      For macOS there is only a nightly version yet. Depending on your processor download either the [ARM version](https://cdn.kde.org/ci-builds/network/kdeconnect-kde/master/macos-arm64/) or the [Intel version](https://cdn.kde.org/ci-builds/network/kdeconnect-kde/master/macos-x86_64/).
    image:
      png: assets/SVG/macos.svg
  - name: iOS
    description: >
      You can download the iOS native port of KDE Connect from the [App Store](https://apps.apple.com/app/kde-connect/id1580245991).<br/>
      Additionally, a pre-release, testing version of KDE Connect can be downloaded from [TestFlight](https://testflight.apple.com/join/vxCluwBF). Please see the [iOS README](https://invent.kde.org/network/kdeconnect-ios) for important data disclosure information, known limitations, and bug reporting information.
    image:
      webp: assets/img/ios.webp
      png: assets/img/ios.png
    image-dark:
      webp: assets/img/ios-dark.webp
      png: assets/img/ios-dark.png
  - name: Source code
    description: >
      The source code for the [desktop](https://invent.kde.org/network/kdeconnect-kde) and [Android](https://invent.kde.org/network/kdeconnect-android) version is available on KDE's Gitlab instance.
      For detailed instructions on how to build KDE Connect from source, check the [Get Involved](/get-involved.html) page.
    image:
      png: /assets/img/git.svg
    learn-more:
      text: Browse Code
      link: https://invent.kde.org/kde/kdeconnect-kde

trademarks:
  - "The Android robot is reproduced or modified from work created and shared by Google and used according to terms described in the Creative Commons 3.0 Attribution License."

apple-itunes-app:
  app-id: 1580245991
---

<h1>Download</h1>

<div class="distribution-table">
{% for source in page.sources %}
<div class="d-flex mt-4">
  <div style="min-width: 80px; max-width: 80px;" class="mr-3">
   {% if source.image %}
     {% if source.image.webp %}
       <picture class="w-100">
         <source srcset="{{ source.imgage.webp }}" type="image/webp" />
         <source srcset="{{ source.image.png }}" type="image/png" />
         <img
           alt="{{ source.name }} icon"
           class="img-fluid"
           src="{{ source.image.png }}"
         />
       </picture>
     {% else %}
       <img
         alt="{{ source.name }} icon"
         class="img-fluid w-100"
         src="{{ source.image.png }}"
       />
     {% endif %}
   {% endif %}
  </div>
  <div>
    <h2>{{ source.name }}</h2>
    {{ source.description | markdownify }}
  </div>
</div>
{% endfor %}
</div>

<h2>Get Started</h2>

<div class="card-deck text-center downloadgroup mb-5 mt-5">
  <div class="card">
    <div class="card-body d-flex flex-column justify-content-between">
      <h4 class="card-title titlecard">Pairing Two Devices</h4>
      <p class="card-text titlepar">
        Pairing two devices is the first step in using KDE Connect.
      </p>
      <a
        class="card-link"
        href="https://userbase.kde.org/KDEConnect#Pairing_two_devices_together"
      >
        <button class="button learn-more" type="button">Learn More</button>
      </a>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column justify-content-between">
      <div>
        <h4 class="card-title titlecard">Features</h4>
        <p class="card-text titlepar">
          A list of all features that are there in KDE Connect.
        </p>
      </div>
      <a class="card-link" href="https://userbase.kde.org/KDEConnect#Overview">
        <button class="button learn-more" type="button">Learn More</button>
      </a>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex flex-column justify-content-between">
      <h4 class="card-title titlecard">Troubleshooting</h4>
      <p class="card-text titlepar">
        Still having issues? We have a troubleshooting section with all the
        commons issues.
      </p>
      <a
        class="card-link"
        href="https://community.kde.org/KDEConnect#Troubleshooting"
      >
        <button class="button learn-more" type="button">Learn More</button>
      </a>
    </div>
  </div>
</div>

{% for trademark in page.trademarks %}
  <p><small>{{ trademark }}</small></p>
{% endfor %}
